// Variables
$brand-primary: #ff5252;
$black: #000;
$white: #fff;

// FONT SIZING VARIABLES
$font-81px: 5.063rem; // O_O
$font-72px: 4.5rem;
$font-60px: 3.75rem;
$font-58px: 3.625rem;
$font-55px: 3.438rem;
$font-42px: 2.625rem;
$font-40px: 2.5rem;
$font-36px: 2.25rem;
$font-30px: 1.875rem;
$font-27px: 1.688rem;
$font-24px: 1.5rem;
$font-21px: 1.313rem;
$font-20px: 1.25rem;
$font-18px: 1.125rem;
$font-16px: 1rem; // base size
$font-15px: 0.9375rem;
$font-14px: 0.875rem;
$font-13px: 0.8125rem;
$font-12px: 0.75rem;
$font-11px: 0.6875rem;
$font-10px: 0.625rem;
$font-9px: 0.5625rem;
$font-8px: 0.5rem;

// Typography Variables
$font: 'Roboto';
$display-font: 'Nixie One';
